.divContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  color: #e6ebf6;
}

.divContentTitle {
  width: 100vw;
  height: 70px;
  display:block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #4f772d;
  padding-left: 1em;
}

.title {
  font-size: 2em;
  text-align: center;
  margin-top: -0.7em;
  flex: 1;
}

.divContentTitle input {
  border-radius: 0.5em;
  padding: 0.1em;
  border: solid #f6f4e6 ;
  color: #363334 ;
  font-size: 1.5em;
}
